html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.grad {
  display: flex;
  background-image: linear-gradient(white, black);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.headerBackGround {
  display: flex;
  background-image: url("./src//assets_img/lightning.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 100%; */
  height: 1152px;
}

.title {
  display: flex;
  color: white;
  font-size: 35px;
  justify-content: center;
  flex: 1;
  margin-top: 10%;
  font-family: Arial, Helvetica, sans-serif;
  /********************/
  background: -webkit-linear-gradient(rgb(248, 243, 243), rgb(14, 13, 13));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headerBar {
  display: flex;
  flex-direction: row;
}

.dnnr {
  display: flex;
  font-size: 20px;
  color: white;
  margin-left: 15px;  
}

.middletextHeader{
    display: flex;
    color: white;    
}
